html {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, #874da2 0%, #c43a30 100%);
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #874da2 0%, #c43a30 100%);
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.loadingAnimation {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: white;
  top: 45%;
  left: 47%;
  animation: loading infinite 1s;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
.loading {
  width: 10%;
  height: 10%;
  position: fixed;
  top: 50%;
  left: 42.5%;
  font-size: 5vh;
}

.headerWrap {
  position: fixed;
  display: flex;
  padding: 50px 0 50px 50px;
  border-bottom: 3px solid white;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  width: 100%;
  top: 0px;
  z-index: 10;
}
.headerWrap:hover {
  background: indianred;
}

.headerTitle {
  width: auto;
  margin: 0 50px;
  color: white;
}

.nav {
  display: flex;
}
.nav a, .nav li {
  color: white;
  font-size: 23px;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.2 s;
}
.nav a:hover, .nav li:hover {
  color: firebrick;
}

.mainWrap {
  margin-top: 250px;
}

.movieContainer {
  width: 1480px;
  margin: 60px auto;
  overflow: hidden;
}

.movieWrap {
  box-sizing: border-box;
}
.movieWrap h2 {
  text-align: center;
  color: white;
}
.movieWrap .slideWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 3700px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.5s;
  transform: translateX(0px);
}
.movieWrap .slideWrap .movieItem {
  width: 330px;
  height: 495px;
  margin: 20px;
  padding: 0 15px;
  padding-top: 50px;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(3px 4px 6px black);
  transition: all 0.5s;
  box-sizing: border-box;
}
.movieWrap .slideWrap .movieItem div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
  filter: brightness(1);
}
.movieWrap .slideWrap .movieItem::after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid;
  pointer-events: none;
  transition: all 0.5s;
  opacity: 1;
  z-index: 2;
}
.movieWrap .slideWrap .movieItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  background: transparent;
  box-sizing: border-box;
  border: 2px solid;
  pointer-events: none;
  transition: all 0.5s;
  opacity: 1;
  z-index: 3;
  border: 10px double white;
}
.movieWrap .slideWrap .movieItem:hover {
  filter: brightness(1);
}
.movieWrap .slideWrap .movieItem:hover::after {
  opacity: 0;
}
.movieWrap .slideWrap .movieItem:hover::before {
  opacity: 0;
}
.movieWrap .slideWrap .movieItem:hover div {
  filter: brightness(0.5);
}
.movieWrap .slideWrap .movieItem h2 {
  color: white;
  margin-bottom: 20px;
}
.movieWrap .slideWrap .movieItem p, .movieWrap .slideWrap .movieItem li {
  margin-bottom: 10px;
}

.datailWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 275px 100px 100px 100px;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #874da2 0%, #c43a30 100%);
}
.datailWrap img {
  box-shadow: -5px -5px white;
  width: 350px;
}

.movieCate {
  color: white;
  margin-bottom: 20px;
  font-size: 2vw;
  font-weight: bold;
}

.movieItem p, .movieItem h2, .movieItem li {
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
  position: relative;
}

.movieItem:hover p, .movieItem:hover h2, .movieItem:hover li {
  opacity: 1;
}

.movieItem a, .movieItem p, .movieItem li {
  color: white;
  text-shadow: 1px 1px 3px black;
}

.detailWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.detailWrap * {
  color: #dfdfdf;
}
.detailWrap > div {
  display: flex;
}
.detailWrap > div div h1 {
  font-size: 6.5vh;
  line-height: 2.5em;
}
.detailWrap > div div h2 {
  width: 60%;
}
.detailWrap > div div:last-child {
  padding-left: 50px;
  padding-right: 50px;
}

.slideDot {
  position: absolute;
  width: 1550px;
  z-index: 3;
  font-size: 3vh;
  font-weight: bold;
  margin-top: -285px;
  margin-left: -35px;
}
.slideDot div {
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.slideDot div:first-child {
  float: left;
}
.slideDot div:last-child {
  float: right;
}
.slideDot div:hover {
  transform: scale(1.5);
}

.cateWrap {
  display: block !important;
  margin-top: 50px;
}
.cateWrap h1 {
  font-size: 5vh;
  text-align: center;
}
.cateWrap .cateContainer {
  padding-top: 0px !important;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px !important;
  padding-bottom: 100px;
  display: flex;
}
.cateWrap .cateContainer .movieItem {
  margin: 10px;
  padding: 25px !important;
  width: 380px;
  height: 600px;
  position: relative;
  box-sizing: border-box;
}
.cateWrap .cateContainer .movieItem div {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  transition: all 0.5s;
}
.cateWrap .cateContainer .movieItem:hover div {
  filter: brightness(0.5);
}

/*# sourceMappingURL=App.css.map */
