$color: black

body
    position: absolute
    width: 100%
    height: 100%
    background-image: linear-gradient(90deg, #874da2 0%, #c43a30 100%)

*
    margin: 0px
    padding: 0px
    list-style: none
    text-decoration: none
    color: $color

.loadingAnimation
    position: fixed
    width: 30px
    height: 30px
    border-radius: 30px
    background: white
    top: 45%
    left: 47%
    animation: loading infinite 1s

@keyframes loading
    0%
        opacity: 1
        transform: scale(1)
    100%
        opacity: 0
        transform: scale(1.5)

.loading
    width: 10%
    height: 10%
    position: fixed
    top: 50%
    left: 42.5%
    font-size: 5vh

.headerWrap
    position: fixed
    display: flex
    padding: 50px 0 50px 50px
    border-bottom: 3px solid white
    background: rgba(0,0,0,0.5)
    transition: all 0.5s
    width: 100%
    top: 0px
    z-index: 10
    &:hover
        background: indianred
.headerTitle
    width: auto
    margin: 0 50px
    color: white

.nav
    display: flex
    a,li
        color: white
        font-size: 23px
        padding: 5px 10px
        font-weight: bold
        transition: all 0.2 s
        &:hover
            color: firebrick

.mainWrap
    margin-top: 250px

.movieContainer
    width: 1480px
    margin: 60px auto
    overflow: hidden
.movieWrap
    box-sizing: border-box
    background: #4D0703
    h2
        text-align: center
        color: white
    .slideWrap
        display: flex
        justify-content: center
        flex-wrap: wrap
        width: 370*10px
        margin: 0 auto
        background: rgba(0,0,0,0.2)
        text-align: center
        transition: all 0.5s
        transform: translateX(0px)
        .movieItem
            width: 330px
            height: 495px
            margin: 20px
            padding: 0 15px
            padding-top: 50px
            overflow: hidden
            cursor: pointer
            filter: drop-shadow(3px 4px 6px black)
            transition: all 0.5s
            box-sizing: border-box
            div
                position: absolute
                width: 100%
                height: 100%
                left: 0
                top: 0
                background-size: cover
                background-repeat: no-repeat
                transition: all 0.5s
                filter: brightness(1)
            &::after
                position: absolute
                width: 100%
                height: 100%
                left: 0
                top: 0
                color: white
                display: flex
                justify-content: center
                align-items: center
                font-size: 2vw
                font-weight: bold
                box-sizing: border-box
                border: 2px solid
                pointer-events: none
                transition: all 0.5s
                opacity: 1
                z-index: 2
            &::before
                content: ""
                position: absolute
                width: 100%
                height: 100%
                left: 0
                top: 0
                color: white
                display: flex
                justify-content: center
                align-items: center
                font-size: 2vw
                font-weight: bold
                background: transparent
                box-sizing: border-box
                border: 2px solid
                pointer-events: none
                transition: all 0.5s
                opacity: 1
                z-index: 3
                border: 10px double white
            &:hover
                filter: brightness(1)
                &::after
                    opacity: 0
                &::before
                    opacity: 0
                div
                    filter: brightness(0.5)
            h2
                color: white
                margin-bottom: 20px
            p,li
                margin-bottom: 10px

.datailWrap
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    padding: 200px 100px 100px 100px
    box-sizing: border-box
    img
        box-shadow: -5px -5px white

.movieCate
    color: white
    margin-bottom: 20px
    font-size: 2vw
    font-weight: bold
.movieItem
    p,h2,li
        opacity: 0
        transition: all 0.5s
        z-index: 2
        position: relative
.movieItem:hover
    p,h2,li
        opacity: 1
.movieItem
    a,p,li
        color: white
        text-shadow: 1px 1px 3px black

.detailWrap
    position: absolute
    width: 100%
    height: 100%
    box-sizing: border-box
    background: #4D0703
    *
        color: #dfdfdf
    >div
        display: flex
        div
            h1
                font-size: 3.5vh
                line-height: 2.5em
            &:last-child
                padding :
                    top: 100px
                    left: 50px
                    right: 50px

.slideDot
    position: absolute
    width: 1550px
    z-index: 3
    font-size: 3vh
    font-weight: bold
    margin-top: -285px
    margin-left: -35px
    div
        color: white
        cursor: pointer
        transition: all 0.5s
        &:first-child
            float: left
        &:last-child
            float: right
        &:hover
            transform: scale(1.5)

// cate 부분
.cateWrap
    display: block !important
    margin-top: 50px
    h1
        font-size: 5vh
        text-align: center
    .cateContainer
        padding-top: 0px !important
        justify-content: center
        flex-wrap: wrap
        margin-top: 50px !important
        padding-bottom: 100px
        display: flex
        .movieItem
            margin: 10px
            padding: 25px !important
            width: 380px
            height: 600px
            position: relative
            box-sizing: border-box
            div
                width: 100%
                height: 100%
                left: 0
                top: 0
                background-repeat: no-repeat
                background-size: 100% 100%
                position: absolute
                transition: all 0.5s
            &:hover
                div
                    filter: brightness(0.5)
