*   {margin:0px;padding:0px;list-style:none; text-decoration: none;}
.movieWrap  {
    background: #4D0703;
    padding-top: 100px;
}
.movieContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    background: #5C0500;
    text-align: center;
}
.movieItem  {
    width: 330px;
    height: 445px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    padding-top: 50px;
    overflow: hidden;
}
.movieItem *  {
    opacity: 0;
    transition:all 0.5s;
}
.movieItem:hover *  {
    opacity: 1;
}

.movieItem a,.movieItem p,.movieItem li    {
    color:white;
    text-shadow: 1px 1px 3px black;
}